/* Universal Styles */

html {
  font: 18px Helvetica;
  line-height: 1.4em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo span {
  padding-left: 1rem;
}

/* Banner Section */

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

/* Navbar */

#navbar {
  display: flex;
  align-items: center;
  color: white;
  background-color: cadetblue;
}

.logo, nav {
  padding: 1rem 2rem;
}

nav span {
  padding-left: 2rem;
}

/* Banner Overlay */

#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10rem;
  float: right;
  background-color: white;
  margin-right: -2rem;
}

#overlay span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2em;
  padding: 1.5rem 5rem;
}

/* Services Section */

#services .container {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-flow: column;
  width: 5rem;
  height: 8rem;
  text-align: center;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
}

.icon {
  overflow: hidden;
}

.icon img {
  max-width: 5rem;
  height: auto;
  display: block;
}

.paper img {
  max-width: 3.5rem;
}

/* Business Info Section */

#business-info .container {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.title {
  display: flex;
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  margin-bottom: 1rem;
}

.title span {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

/* Footer */

footer .container {
  display: flex;
  background-color: azure;
  margin-top: 5rem;
}

footer .logo {
  padding: 4rem 0 4rem 4rem;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
  header {
    height: 22rem;
    padding-top: 0;
  }
  #overlay {
    top: 5rem;
    right: 2rem;
    margin-right: 0;
  }
  #overlay span {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
  #business-info .container {
    justify-content: center;
  }
}
